<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Weather Data</title>
</head>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

	body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	align-content: center;
	font-family: 'Poppins', sans-serif;
}

body {
	background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

h1 {
	font-weight: 800;
  color: -webkit-linear-gradient(#eee, #333);
}

h2 {
	font-size: large;
	font-weight: 500;
	color: rgba(0, 0, 0, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  background:
    linear-gradient(
      to right,
      rgba(0, 100, 200, 1),
      rgba(0, 100, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}


.container {
    text-align: center;
    width: 50%; 
    padding: 3rem;
	background-color: rgb(255, 255, 255);
 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 5%;

	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	align-content: center;
}
</style>

<body>
  <div class="container">
    <h1>Here is the weather data</h1>
    <div>
      <strong>Temperature Preference: </strong><%- temp %>
      <strong>City: </strong><%- dataCity %><br>
      <strong>Temperature C or F depending on your preference: </strong><%- dataTemp %><br>
      <strong>Humidity: </strong><%- dataHum %>%<br>
      <strong>Wind: </strong><%- dataWind %> km/h or mph depending on preference<br>
      <br>
      <strong>Hourly: </strong>
	<table>
			<tr>
			  <th>Hour</th>
			  <th>Temperature</th>
			  
			</tr>
			<tr>
			  <td>12:00 AM</td>
			  <td></td>
			</tr>
			<tr>
			  <td>2:00 AM</td>
			  <td></td>
			</tr>
			<tr>
			  <td>4:00 AM</td>
			  <td></td>
			</tr>
			<tr>
			  <td>6:00 AM</td>
			  <td></td>
			</tr>
			<tr>
			  <td>8:00 AM</td>
			  <td></td>
			</tr>
			<tr>
			  <td>10:00 AM</td>
			  <td></td>
			</tr>
			<tr>
			  <td>12:00 PM</td>
			  <td></td>
			</tr>
			<tr>
			  <td>2:00 PM</td>
			  <td></td>
			  </tr>
			  <tr>
			   <td>4:00 PM</td>
			   <td></td>
			  </tr>
			  <tr>
				<td>6:00 PM</td>
				<td></td>
			  </tr>
			  <tr>
				<td>8:00 PM</td>
				<td></td>
			  </tr>
			  <tr>
				<td>10:00 PM</td>
				<td></td>
			  </tr>
			  <tr>
				<td>12:00 AM</td>
				<td></td>
			  </tr>
		  </table>
		  <br>
		<strong>Weekly: </trong>
		  <br>
		<table>
			<tr>
			  <th>Day</th>
			  <th>Low</th>
			  <th>High</th>
			</tr>
			<tr>
			  <td>Monday</td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Tuesday</td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Wednesday</td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Thursday</td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Friday</td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Saturday</td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Sunday</td>
			  <td></td>
			  <td></td>
			</tr>
		  </table>
      <a href="/">HOME</a>
    </div>
  </div>
	
</body>

</html>
