<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Weather Data</title>
</head>

<body>
	<h1>Here is the weather data</h1>
	<div>
		<strong>Temperature Preference:</strong><%- temp %>
		<strong>City: </strong><%- dataCity %><br>
		<strong>Temperature C or F depending on your preference: </strong><%- dataTemp %><br>
		<strong>Humidity: </strong><%- dataHum %>%<br>
		<strong>Wind:</strong><%- dataWind %> km/h or mph depending on preference
		<br>
		<a href="/">HOME</a>
	</div>
</body>

</html>
